<html>
  <head>
    <meta charset="utf-8">
    <title>Events Marketplace</title>
  </head>
  <body>
    <h1>Manage Tickets for {{ event.title }}</h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input id="id_submit_btn" type="submit" name="" value="Save">
    </form>
    <table id="id_table">
      {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.name }}</td>
        </tr>
        {% if user.is_authenticated %}
          {% if ticket.event.user.username == user.username %}
            <tr>
              <td>
                <a href="{% url 'delete_ticket' ticket.id %}" id="id_delete_btn_{{ ticket.id }}">Delete</a>
              </td>
            </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    </table>
  </body>
</html>
