<html>
  <head>
    <meta charset="utf-8">
    <title>Events Marketplace</title>
  </head>
  <body>
    <h1>Manage Tickets for {{ event.title }}</h1>
    <form method="post">
      {% csrf_token %}
      <input id="id_name" type="text" name="ticket_name">
      <input id="id_submit_btn" type="submit" name="" value="Save">
    </form>
    <table id="id_table">
      {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.name }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
