<html>
  <head>
    <meta charset="utf-8">
    <title>Events Marketplace</title>
  </head>
  <body>
    <h1>Events Marketplace</h1>
    <a href="/events/add">Add Event</a>
    <form method="get" action="{% url 'haystack_search' %}">
      <input type="text" name="q" id="id_q">
      <input id="id_search_btn" type="submit" name="" value="Search">
    </form>
    <table id="id_table">
      {% for event in events %}
        <tr>
          <td><a href="/events/{{ event.id }}">{{ event.title }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
