<html>
  <head>
    <meta charset="utf-8">
    <title>Events Marketplace</title>
  </head>
  <body>
    <h1>User profile</h1>
    <table id="id_event_table">
      {% for event in events %}
        <tr>
          <td>{{ event.title }}</td>
        </tr>
        <tr>
          {% for ticket in event.ticket_set.all %}
            <td>{{ ticket.name }}</td>
          {% endfor %}
        </tr>
        {% if user.is_authenticated %}
          {% if event.user.username == user.username %}
            <tr>
              <td>
                <a href="{% url 'update_event' event.id %}" id="id_edit_link">Edit</a>
              </td>
              <td>
                <a href="{% url 'delete_event' event.id %}" id="id_delete_btn_{{ event.id }}">Delete</a>
              </td>
              <td>
                <a href="{% url 'create_ticket' event.id %}" id="id_add_tickets">Add Tickets</a>
              </td>
            </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    </table>
  </body>
</html>
